%div
  %div= 'В участковую избирательную комиссию'
  %div= "избирательного участка №#{uic}"
  %div= 'от Ермолаева Александра Геннадьевича'
  %div= 'являющегося доверенным лицом'
  %div= 'зарегистрированного кандидата на'
  %div= 'должность Мэра Москвы'
  %div
    %b= 'Навального Алексея Анатольевича'
