%div
  %span= 'Год и место рождения: '
  %span= @user.year_born && @user.year_born != 1913 ? @user.year_born : '_____'
  %span= ' г., '
  %span= optional_string_info(@user.place_of_birth, 51)
%div
  %span= 'Гражданство Российской Федерации, паспорт: '
  %span= optional_string_info(@user.passport, 37)
%div
  %span= 'Место работы или службы: '
  %span= "#{optional_string_info(@user.work, 35)}, #{optional_string_info(@user.work_position, 19)}"
%div
  %span= 'Адрес места жительства: '
  %span= optional_string_info(@user.address, 56)
%div= 'На государственной службе не нахожусь, муниципальным служащим не являюсь.'
