- id = "full-name-popover-#{SecureRandom.hex(5)}"
.full-name-details.hide
  %div{ id: id }
    %div= "Год рождения: #{object.year_born}"
    %br
    %div= "Опыт: #{object.human_current_roles.blank? ? 'Нет' : object.human_current_roles}"
    %br
    %div= 'Комментарии:'
    - if object.comments.empty?
      %span= 'Нет'
    - else
      %ul
        - object.comments.each do |comment|
          %li= "#{comment.body} (#{I18n.l(comment.updated_at, format: '%d.%m %H:%M')})"
    %br
    %span= 'Новый комментарий:'
    %div.form{'data-url' => control_comments_path}
      = semantic_form_for ActiveAdmin::Comment.new, url: control_comments_path do |f|
        = f.inputs do
          = f.input :resource_type, :as => :hidden,  :input_html => { :value => ActiveAdmin::Comment.resource_type(object) }
          = f.input :resource_id, :as => :hidden,  :input_html => { :value => object.id }
          = f.input :body, :label => false, :input_html => { :size => '80x8', style: 'width: 550px;' }
        = f.actions do
          = f.action :submit, :label => I18n.t('active_admin.comments.add')
= link_to ActiveAdminComments::full_name_with_comments_count(object), "##{id}",
          :target => '_blank', :class => 'view-full-name-details-link'