:javascript
  var regions=#{regions_hash.to_json};

= include_gon

= semantic_form_for [:control, @user], builder: ::Formtastic::FormBuilder, remote: true do |f|
  = f.inputs "data-role" => "user-fields-container" do
    = f.input :roles, collection: Role.where("slug != ?", ["admin"]), :input_html => {:style => "width: 220px;"}
    = f.input :email
    = f.input :phone
    = f.input :password, as: :hidden
    = f.input :adm_region, as: :select, collection: Region.adm_regions.pluck(:name, :id), input_html: {"data-role" => "adm-region-select",:style => "width: 220px;"}
    = f.input :region, as: :select, collection: @user.user_app && @user.user_app.adm_region ? @user.user_app.adm_region.regions.pluck(:name, :id) : [], input_html: {"data-role" => "region-select",:style => "width: 220px;"}
    = f.input :organisation_id, as: :hidden
    = f.input :user_app_id, as: :hidden

  = f.inputs "Роли наблюдателя", "data-role" => "observer-roles", class: "hidden" do
    - f.semantic_fields_for :user_current_roles do |fc|
      / из-за бага в formtastic fc.object => nil и строка ниже не работает
      = render 'user_current_role_fields', :f => fc

    = link_to_add_association 'Добавить роль', f, :user_current_roles

  = f.actions do
    = f.submit "Принять заявку"
:javascript
  initAcceptForm();