%div
  %span= 'Дата и место рождения: '
  %span= '___.___.'
  %span= @user.year_born && @user.year_born != 1913 ? @user.year_born : '_____'
  %span= ' г., '
  %span= optional_string_info(@user.place_of_birth)
%div
  %span= 'Гражданство Российской Федерации, паспорт: '
  %span= optional_string_info(@user.passport, 38)
%div
  %span= 'Место работы или службы: '
  %span= optional_string_info(@user.work, 56)
%div
  %span= 'Адрес места жительства: '
  %span= optional_string_info(@user.address, 57)
%div= 'Нахождение на государственной либо муниципальной службе (нужное подчеркнуть):'
%div= 'является муниципальным или госслужащим'
%div= 'не является муниципальным или госслужащим'
