- uic = uic(@user, UserApp.all_statuses[UserApp::STATUS_PSG]).try(:number)
- uic ||= 'УКАЖИТЕ НОМЕР УИК'
%div{style: 'margin-left: 5mm; margin-top: 40mm; margin-right: 5mm; font: 10pt Helvetica; line-height: 160%'}
  = render 'letter_header', uic: uic
  %br
  %br
  %br
  %div{style: 'text-align: center; font: 15pt Helvetica;'}
    %b= 'УВЕДОМЛЕНИЕ'
    %p{style: 'text-align: center; font: bold 10pt Helvetica; line-height: 50%;'}= 'о назначении члена участковой избирательной комиссии'
    %p{style: 'text-align: center; font: bold 10pt Helvetica; line-height: 50%;'}= 'с правом совещательного голоса'
  %br
  = render 'letter_date'
  %br
  %br
  %br
  = 'Довожу до вашего сведения, что в соответствии с пунктом 20 статьи 29 Федерельного закона «Об основных гарантиях избирательных прав и права на участие в референдуме граждан Российской Федерации» от 12 июня 2002 года № 67-ФЗ и частью 14 статьи 22 Избирательного кодекса города Москвы мной назначен членом участковой избирательной комиссии'
  %b= "№#{uic}"
  = 'с правом совещательного голоса:'
  %br
  %br
  %span{style: 'white-space: normal;'}
    %b= @user.full_name
  = render 'letter_info'
  %br
  %p
    %span= 'Назначение данного гражданина членом участковой избирательной комиссии с правом совещательного голоса не противоречит подпунктам «а», «в» – «е» пункта 1 и пункту 21.1 статьи 29 Федерального закона от 12 июня 2002 года № 67-ФЗ «Об основных гарантиях избирательных прав и права на участие в референдуме граждан Российской Федерации».'
  %br
  %br
  %br
  = render 'letter_signature', signer: 'Ермолаев А. Г.'

%div{style: 'display:block; clear:both; page-break-after:always;'}
%div{style: 'margin-left: 5mm; margin-top: 40mm; margin-right: 5mm; font: 10pt Helvetica; line-height: 160%'}
  %div
    %div= 'Зарегистрированному кандидату'
    %div= 'на должность Мэра Москвы'
    %div= 'Навальному Алексею Анатольевичу'
    %br
    %div= 'Лицо, дающее согласие на назначение членом'
    %div= 'участковой избирательной комиссии с правом'
    %div= 'совещательного голоса:'
    %div
      %span{style: 'white-space: normal;'}
        %b= @user.full_name
  %br
  %br
  %div{style: 'text-align: center; font: 15pt Helvetica;'}
    %b= 'ЗАЯВЛЕНИЕ'
    %p{style: 'text-align: center; font: bold 10pt Helvetica; line-height: 50%;'}= 'о согласии на назначение членом участковой избирательной комиссии'
    %p{style: 'text-align: center; font: bold 10pt Helvetica; line-height: 50%;'}= 'с правом совещательного голоса'
  %br
  = render 'letter_date'
  %br
  %br
  %br
  %span= 'Я, '
  %span{style: 'white-space: normal;'}
    %b= @user.full_name
  %span= 'даю согласие на назначение меня членом участковой избирательной комиссии'
  %span
    %b= "№#{uic}"
  %span= 'с правом совещательного голоса.'
  %br
  %p= 'Подтверждаю, что не подпадаю под ограничения, установленные подпунктами «а», «в» – «е» пункта 1 и пункта 29 Федерального закона «Об основных гарантиях избирательных прав и права на участие в референдуме граждан Российской Федерации» от 12.06.2002 года № 67-ФЗ.'
  %br
  %div= 'О себе сообщаю следующие сведения:'
  %br
  = render 'letter_info'
  %br
  %br
  %br
  %br
  = render 'letter_signature', signer: @user.decorate.last_name_with_initials
