- uic = uic(@user, UserApp.all_statuses[UserApp::STATUS_OBSERVER]).try(:number)
- uic ||= 'УКАЖИТЕ НОМЕР УИК'
%div{style: 'margin-left: 15mm; margin-top: 30mm; margin-right: 15mm; font: 10pt Helvetica; line-height: 160%'}
  = render 'letter_header', uic: uic
  %br
  %br
  %div{style: 'text-align: center; font: 15pt Helvetica;'}
    %b= 'НАПРАВЛЕНИЕ'
  %br
  = render 'letter_date'
  %br
  %br
  %br
  = 'В соответствии с пунктом 7 статьи 30 Федерального закона от 12 июня 2002 года № 67-ФЗ «Об основных гарантиях избирательных прав и права на участие в референдуме граждан Российской Федерации» и частью 8 статьи 23 Закона города Москвы от 6 июня 2005 года № 38 «Избирательный кодекс города Москвы»'
  %span{style: 'white-space: normal;'}
    %b>= @user.full_name
  %span>= ", #{living(@user)} по адресу"
  %b= " #{optional_string_info(@user.address)}"
  %span= 'направляется наблюдателем в участковую избирательную комиссию избирательного участка'
  %b= " №#{uic}"
  %span= 'от зарегистрированного кандидата на должность Мэра Москвы'
  %b= 'Навального Алексея Анатольевича'
  %span>= '.'
  %br
  %br
  %span= 'Ограничений, предусмотренных пунктом 4 вышеупомянутой статьи Федерального закона от 12 июня 2002 года № 67-ФЗ, в отношении указанного наблюдателя не имеется.'
  %br
  %br
  %br
  %br
  %br
  %br
  = render 'letter_signature', signer: 'Ермолаев А. Г.'
  %br
  %br
  %br
  %br
  %br
  %div= '______________________________________________'
  %div{style: 'font: 7pt Helvetica;'}
    %p
      %b= 'Примечания:'
    %p= '1) Направление подписывается зарегистрированным кандидатом на должность президента Российской̆ Федерации либо его доверенным лицом.'
    %p= '2) Направление действительно при предъявлении паспорта или документа, заменяющего паспорт гражданина, и предъявляется с момента начала работы УИК в день голосования, в дни досрочного голосования, а также при повторном подсчете голосов избирателей̆ на избирательном участке.'
    %p= '3) Наблюдателями не могут быть назначены выборные должностные лица, депутаты, высшие должностные лица субъектов Российской̆ Федерации, главы местных администраций, лица, находящиеся в их непосредственном подчинении, доверенные лица, судьи, прокуроры, члены избирательных комиссий с правом решающего голоса. '