= f.input :year_born
= f.input :place_of_birth, :input_html => {:rows => 1}
= f.input :passport, :input_html => {:rows => 1}
= f.input :work, :input_html => {:rows => 1}
= f.input :work_position, :input_html => {:rows => 1}