.nested-fields{"data-role" => "user-fields-container"}
  = f.inputs do
    = f.input :current_role, include_blank: false, input_html: {"data-role" => "current-role", :style => "width: 350px;"}

    = f.input :region, as: :select, :collection => option_groups_from_collection_for_select(Region.adm_regions, :subregions_with_tics, :name, :id, :name), :input_html => {"data-role" => "region-select", :style => "width: 220px;"}, :label => "ТИК"

    -#TODO очень медленно, стоит переделать на ввод строки
    = f.input :uic, as: :select, collection: Uic.all.pluck(:number, :id), input_html: {"data-role" => "uic", style: "width: 100px;"}
    = f.input :user_id, as: :hidden, input_html: {value: @user.id}
    = link_to_remove_association "удалить роль", f
