- if @many_apps.results_count(:created) > 0
  %h2 Успешно создано пользователей - #{@many_apps.results_count(:created)}
  -#= render :partial => 'user_table', locals: {rows:  @many_apps.user_apps_with_status(:created)}
  %br
- if @many_apps.results_count(:updated) > 0
  %h2 Успешно обновлёно пользователей - #{@many_apps.results_count(:updated)}
  -#= render :partial => 'user_table', locals: {rows:  @many_apps.user_apps_with_status(:updated)}
  %br
- if @many_apps.results_count(:ignored) > 0
  %h2 Пропущено пользователей - #{@many_apps.results_count(:ignored)}
  -#= render :partial => 'user_table', locals: {rows:  @many_apps.user_apps_with_status(:ignored)}

- if @many_apps.results_count(:failed) > 0
  %h2 Не удалось импортировать записей - #{@many_apps.results_count(:failed)}
  -@many_apps.user_apps_with_status(:failed).each do |row|
    %br
    = row.import_error
  %br
  %br

= form_for @many_apps, as: :many_apps, url: process_xls_control_user_apps_path, method: :post do |f|
  -failed_userapps_count = @many_apps.user_apps.reject(&:persisted?).count
  - if @many_apps.user_apps.count == 0
    %h2 Выберите файл
    %fieldset
      = f.label :file
      = f.file_field :file

    %h2 Или скопируйте строки из Excel
  - elsif failed_userapps_count > 0
    %h2 Эти данные не удалось сохранить

  - if failed_userapps_count > 0 || @many_apps.user_apps.count == 0
    %table.many-new
      %thead
        %tr
          - ExcelUserAppRow.column_names.each do |i|
            %th
              = ExcelUserAppRow.human_attribute_name(i)
      %tbody
        = f.fields_for :user_apps, f.object.user_apps.reject(&:persisted?) do |uaf|
          = render 'xls_fields', :f => uaf

    %div
      = link_to_add_association 'Добавить заявку', f, :user_apps, :partial => 'xls_fields', :data => {:association_insertion_node => 'table.many-new tbody', :association_insertion_method => 'append'}

    .actions
      = f.submit 'Загрузить'

      = f.label :ignore_existing, "Загрузить только новых"
      = f.check_box :ignore_existing

  - else
    .actions
      К списку
      = link_to 'пользователей', [:control, :users]

