:javascript
  var regions=#{regions_hash.to_json};

= semantic_form_for [:control, @user], builder: ::Formtastic::FormBuilder do |f|
  = f.inputs do
    = f.input :roles
    = f.input :email
    = f.input :phone
    = f.input :password, as: :hidden
    = f.input :adm_region
    = f.input :region
    = f.input :organisation
    = f.input :user_app_id, as: :hidden

  = f.inputs "Роли наблюдателя" do
    - f.semantic_fields_for :user_current_roles do |fc|
      / из-за бага в formtastic fc.object => nil и строка ниже не работает
      = render 'user_current_role_fields', :f => fc

    = link_to_add_association 'Добавить роль', f, :user_current_roles

  = f.actions
