= semantic_form_for @user, url: control_user_path do |f|

  = f.inputs "Смена пароля" do
    = f.input :current_password, :as => :password, :label => "Действующий пароль"
    = f.input :password, :as => :password, :label => "Новый пароль"
    = f.input :password_confirmation, :as => :password, :label => "Новый пароль (подтверждение)"

  = f.actions do
    = f.action :submit, :label => "Обновить пароль", button_html: { class: 'btn' }
