
- unless @user.user_app.phone_verified && @user.user_app.confirmed?
  %p
    %h2 Заявка не верифицирована.
  %p
    %h3
      - unless @user.user_app.phone_verified
        == Телефон: #{@user.user_app.phone}.
      - unless @user.user_app.confirmed?
        == Адрес электронной почты: #{@user.user_app.email}
      - if !@user.user_app.confirmed? || !@user._user_app.phone_verified?
        == Пожалуйста, позвоните и верифицируйте заявку.
        = link_to 'Подтвердить', confirm_app_control_user_app_path(@user.user_app), method: :post


= render 'form'
- if @user.user_app
  - user_app = UserAppDecorator.decorate(@user.user_app)
  %h3 Заявка подробнее
  .panel_contents
    .attributes_table
      %table
        - %w(last_name first_name patronymic current_roles experience_count previous_statuses has_car social_accounts extra legal_status desired_statuses region_id year_born sex_male phone_verified has_video).each do |field|
          %tr.row
            %th= UserApp.human_attribute_name(field)
            %td= user_app.send field
