:javascript
  var regions=#{regions_hash.to_json};

-unless @user_app.errors.blank?
  %h4.text-error
    В форме присутствуют ошибки, пожалуйста, исправьте их.
  .text-error
    Поля с ошибками подсвечены красным цветом.

= semantic_form_for @user_app do |f|

  = f.inputs "В каком качестве вы готовы участвовать в общественном контроле за выборами?", :id => "user_app_desired_statuses", :class => ("text-error" if @user_app.errors[:desired_statuses].any?) do
    -@user_app.errors[:desired_statuses].each do |err|
      %span.text-error=err
      %br
    -UserApp.future_statuses_methods.each do | method_name|
      = f.input method_name, :as => :boolean
  %br
  = f.input :adm_region, :as => :select, :collection => Region.adm_regions.all, :input_html => {:style => "width: 280px;"}
  = f.input :region, :as => :select, :collection => (@user_app.adm_region ? @user_app.adm_region.regions : []), :input_html => {:style => "width: 280px;"}, hint: "Можно оставить пустым или выбрать конкретный район" #ширина прописана inline, чтобы select2 её правильно подхватил, через css он не понимает
  -#= f.input :region, :as => :select, :collection => option_groups_from_collection_for_select(Region.cities.where(name: "Москва").first.regions, :regions, :name, :id, :name), :input_html => {:style => "width: 280px;", :class => "selectify"}
  = f.input :uic, :label => raw("Номера желаемых УИК, через запятую (<a href='http://www.wikiuiki.org/' target=\"_blank\">найти номера в базе УИК</a>)"), :input_html => {:disabled => true}, :placeholder => "Пример: 12345, 23456"

  = f.inputs "Личные данные", :id => "personal_info" do
    = f.input :last_name
    = f.input :first_name
    = f.input :patronymic
    = f.input :phone, :label => "Контактный телефон", :placeholder => "Пример: 903 111 22 33", input_html: {data: { confirmed: f.object.verified? } }
    = f.input :email
    = f.input :year_born
    = f.input :sex_male, :as => :radio, collection: {"Мужской" => true, "Женский" => false}

  = f.inputs "Текущий статус в системе избирательных комиссий" do
    = f.semantic_fields_for :user_app_current_roles do |user_app_current_role|
      = user_app_current_role.input :keep, as: :boolean, label: user_app_current_role.object.current_role.name,
        input_html: {class: "js-current-role-checked"}
      = user_app_current_role.input :current_role_id, as: :hidden
      = user_app_current_role.input :value, label: false, placeholder: current_roles_placeholders(user_app_current_role.object.current_role)

  = f.inputs "Подробнее", :id => "details" do
    = f.input :has_car, :label => "Есть автомобиль?", :as => :radio, collection: {"Да" => true, "Нет" => false}
    = f.input :legal_status, :label => "Есть юридическое образование?", :as => :radio, collection: {"Да" => UserApp::LEGAL_STATUS_YES, "Нет" => UserApp::LEGAL_STATUS_NO, "Есть статус адвоката" => UserApp::LEGAL_STATUS_LAWYER}
    = f.input :has_video, :label => "Есть возможность вести видеосъёмку?", :as => :radio, collection: {"Да" => true, "Нет" => false}

  = f.inputs "Прежний опыт", :id => "experience" do
    -UserApp.previous_statuses_methods.each do |method_name|
      = f.input method_name, :as => :boolean
    = f.input :experience_count, :label => "Сколько раз:", :min => 0, :input_html => {:disabled => true}

  = f.inputs :name => "Аккаунты в соц. сетях", :id => "social_accounts" do
    -UserApp::SOCIAL_ACCOUNTS.each do |provider_key, provider_name|
      = f.input 'social_'+provider_key.to_s, :label => provider_name, placeholder: social_account_placeholders(provider_key)
  = f.inputs "Дополнителные сведения", :id => "extra" do
    = f.input :extra, :label => false, :input_html => {:rows => 10}

  = f.actions do
    = f.input :data_processing_allowed, :as => :boolean, :label => "Соглашаюсь на обработку персональных данных"
    = f.action :submit, :label => "Зарегистрироваться", button_html: { class: 'btn', :disabled => true }
    -#= link_to t('.cancel', :default => t("helpers.links.cancel")), user_apps_path, :class => 'btn'
