= semantic_form_for @user_app do |f|
  -#список - административный округ
  -#район - текстовое поле с саджестом и валидейтом на полное совпадение
  = f.input :region, :label => "Район", :as => :select, :collection => option_groups_from_collection_for_select(Region.cities.where(name: "Москва").first.regions, :regions, :name, :id, :name), :required => true, :input_html => {:style => "width: 280px;"}
  = f.inputs "Кем готовы стать?", :id => "can_be" do
    -UserApp.future_statuses_methods.each do | method_name|
      = f.input method_name, :as => :boolean

  = f.inputs "Личные данные", :id => "personal_info" do
    = f.input :last_name, :label => "Фамилия", :required => true
    = f.input :first_name, :label => "Имя", :required => true
    = f.input :patronymic, :label => "Отчество"
    = f.input :phone, :label => "Контактный телефон", :hint => "Пример: 903 1112233", :required => true
    = f.input :email

  = f.inputs "Подробнее", :id => "details" do
    = f.input :uic, :label => "Желаемый УИК", :input_html => {:disabled => true}
    = f.input :current_status, :label => "Текущий статус в системе избирательных комиссий:", :as => :radio, collection: current_status_options, :required => true
    = f.input :has_car, :label => "Есть автомобиль?", :as => :radio, collection: {"Да" => true, "Нет" => false}, :required => true
    = f.input :legal_status, :label => "Есть юридическое образование:", :as => :radio, collection: {"Да" => 1, "Нет" => 0, "Есть статус адвоката" => 3}, :required => true

  = f.inputs "Прежний опыт", :id => "experience" do
    -UserApp.previous_statuses_methods.each do |method_name|
      = f.input method_name, :as => :boolean
    = f.input :experience_count, :label => "Сколько раз:"

  = f.inputs :name => "Аккаунты в соц. сетях", :id => "social_accounts" do
    -UserApp::SOCIAL_ACCOUNTS.each do |provider_key, provider_name|
      = f.input 'social_'+provider_key.to_s, :label => provider_name
  = f.inputs "Дополнителные сведения", :id => "extra" do
    = f.input :extra, :label => false, :input_html => {:rows => 10}

  = f.actions do

    .boolean.input.required.control-group
      .controls
        = label_tag 'data_processing_allowed', class: 'checkbox' do
          = check_box_tag 'data_processing_allowed'
          Соглашаюсь на обработку персональных данных

    = f.action :submit, :label => "Зарегистрироваться", button_html: { class: 'btn', :disabled => true }
    -#= link_to t('.cancel', :default => t("helpers.links.cancel")), user_apps_path, :class => 'btn'
