- phones = @users.pluck(:phone)
- count = phones.count
- display_limit = 200
.row
  .span3
    %legend
      СМС будет направлено #{count} получателям
      -if count > display_limit
        (отображаются первые #{display_limit} из них)
    - phones[0..display_limit-1].each do |phone|
      = phone
  .span9
    %legend
      Содержимое смс
    = form_for :group_sms, url: :send_group_sms,  html: {class: 'form-horizontal'} do |f|
      - phones.each do |phone|
        = f.hidden_field :phones, :multiple => true, :value => phone
      .control-group
        = f.label 'Сообщение', class: 'control-label'
        .controls
          = f.text_area :message, class: 'input-xxlarge', rows: 10
      .control-group
        .controls
          = f.submit 'Отправить', class: 'btn btn-primary'
